<h2 class="item-title">{{name}}</h2>
<p class="item-description">{{description}}</p>
<div class="item-add-container">
  <a href="#">
    <button class="item-button-cancel">Cancel</button>
  </a>
  <button class="item-button-add">Add to Cart</button>
</div>
