<h2 class="item-title">{{name}}</h2>
<p class="item-description">{{description}} - ${{priceFixed price}} each</p>
<div class="item-add-container">
  <a href="#">
    <button class="item-button-cancel button-primary">Back to Menu</button>
  </a>
  <button class="item-button-add button-primary">Add to Cart</button>
</div>
