{{#each this}}
  <section class="category">
    <h2 class="category-title">Popular Items<i class="category-dropdown fa fa-sort-desc"></i></h2>
    <div class="category-item">
      <div class="category-item-text">
        <h3 class="category-item-title">{{number}}. {{name}}</h3>
        <p class="category-item-description">
          {{description}}
        </p>
      </div>
      <button class="category-item-button-price button-primary">${{price}}</button>
    </div>
  </section>
{{/each}}
