<header class="order-header">
  <h2 class="order-heading">Your Order</h2>
  <p class="order-restaurant">Majestic Thai Cuisine</p>
</header>
<div class="order-list">
  <div class="order-list-headings">
    <span class="order-item-heading">Item</span>
    <span class="order-price-heading">Price</span>
  </div>
</div>
<div class="order-subtotal">
  <span class="order-item-text">Subtotal</span>
  <span class="order-item-price">$ 25.00</span>
</div>
<div class="order-checkout">
  <button class="order-checkout-button button-primary">Proceed to Checkout</button>
</div>
