<header class="order-header">
  <h2 class="order-restaurant">Total Fusion Cafe</h2>
  <h4 class="order-heading">Your Order</h4>
</header>
<div class="order-list">
  <div class="order-list-headings">
    <span class="order-item-heading">Item</span>
    <span class="order-price-heading">Price</span>
  </div>
</div>
<div class="order-subtotal">
  <span class="order-item-text">Subtotal</span>
  <span class="order-item-price">${{subtotal}}</span>
</div>
<div class="order-tax">
  <span class="order-item-text">Tax</span>
  <span class="order-item-price">${{tax}}</span>
</div>
<div class="order-total">
  <span class="order-item-text">Total</span>
  <span class="order-item-price">${{total}}</span>
</div>
<div class="order-name">
  <input class="order-name-input" type="text" name="ordername" placeholder="Enter your name before placing order.">
</div>
</div>
<div class="order-checkout">
  <button class="order-checkout-button button-primary">Place order!</button>
</div>
