@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

.menu,
.item {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  border: 1px solid red;
  margin-left: 20px;
}

.order {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin-right: 20px;
  width: 30%;
  border: 1px solid red;
}

.category,
.item {
  border: 1px solid red;
}

.category-title,
.item-title,
.item-description {
  padding: 10px;
}

.category-title {
  margin-bottom: 0;
  background: $light-gray;
}

.category-dropdown {
  float: right;
}

.category-item
{
  border: 1px solid black;
  padding: 10px;
}

.category-item-text {
  display: inline-block;
  width: 70%;
}

.category-item-button-price {
  float: right;
  vertical-align: top;
  margin-top: 5px;
}

.item-title {
  text-align: center;
}

.item-button-cancel {
  margin-left: 10px;
}

.item-button-add {
  float: right;
  margin-right: 10px;
}

.order-header,
.order-list,
.order-item,
.order-subtotal,
.order-tax,
.order-checkout,
.order-total {
  border: 1px solid gray;
}

.order-header {
  text-align: center;
}

.order-list-headings,
.order-item,
.order-subtotal,
.order-tax,
.order-checkout,
.order-total {
  padding: 10px;
}

.order-item-heading,
.order-price-heading,
.order-item-text,
.order-item-price {
  display: inline-block;
  width: 60%;
}

.order-price-heading,
.order-item-price {
  width: 25%;
}


.order-checkout-button {
  display: block;
  margin: 0 auto;
}
