@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.menu-container {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

.order-container {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 30%;
  border: 1px solid red;
}

.category {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid blue;
}

.category-title {
  padding: 10px;
}

.category-item {
  border: 1px solid black;
  padding: 10px;
}

.category-item-text {
  display: inline-block;
  width: 70%;
}

.category-item-button-price {
  float: right;
  vertical-align: top;
  margin-top: 20px;
}
